$breakpoints-sm__min: 0px;
$breakpoints-sm__max: 599px;

$breakpoints-md__min: 600px;
$breakpoints-md__max: 900px;

$breakpoints-lg__min: 900px;
$breakpoints-lg__max: 1200px;

$breakpoints-xl__min: 1200px;
$breakpoints-xl__max: 1800px;

$breakpoints-xx__min: 1800px;
$breakpoints-xx__max: 3800px;
